@media screen and (max-width: 800px) {
    .responsive-image {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .menu ul {
        flex-direction: column;
    }
}

.hlavicka {
    font-size: 2rem;
}

@media screen and (min-width: 800px) {
    .hlavicka {
        font-size: 3rem;
    }
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

